html,body{
    font-family: 'Heebo', sans-serif;
}
body{
    background-color: #e5e5e5;
}

.pageTitle{
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
    line-height: 60px;
    color: #21243d;
}

.blog-item h3{
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    line-height: 44px;
    color: #21243d;
}

.blog-item .published-date{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243d;
}
.blog-item .category{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
.blog-item p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243d;
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
}