html,body{
    font-family: 'Heebo', sans-serif;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
}

h1,p,h3,h2,h4{
    margin: 0;
}

a{
    text-decoration: none;
}

header nav{
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}
header nav ul{
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 33px;   
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
}

.hero-section{
    background-color: #ffffff;
    padding: 158px 0;
}

.hero-section .hero-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.hero-section .hero-inner .col-left{
    max-width: 497px;
}

.hero-section .hero-inner .col-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-section .hero-inner .col-left h1{
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}

.hero-section .hero-inner .col-left p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-top: 40px;
    margin-bottom: 38px;
}

.hero-section .hero-inner .col-left button{
    background-color: #FF6464;
    border: none;
    border-radius: 2px;
    width: 208px;
    height: 47px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}


.pageTitle{
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
    line-height: 60px;
    color: #21243d;
}

.post-item h3{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
}

.post-item div{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    margin-top: 17px;
    margin-bottom: 11px;
}

.post-item p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

.posts-section{
    background-color: #EDF7FA;
    padding: 32px 0;
}

.posts-section .posts-inner{
    max-width: 960px;
    margin: 0 auto;

}

.posts-section .posts-inner .posts-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.posts-section .posts-inner .posts-header div{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}

.posts-section .posts-inner .posts-header a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
}

.posts-section .posts-inner .posts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    gap: 20px;
}

.post-item{
    padding: 24px;
    border-radius: 4px;
    background-color: #FFFFFF;
}