html,body{
    font-family: 'Heebo', sans-serif;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
}

h1,p,h3,h2,h4{
    margin: 0;
}

a{
    text-decoration: none;
}

header nav{
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}
header nav ul{
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 33px;   
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    color: #000000;
}

.hero-section{
    background-color: #ffffff;
    padding: 158px 0;
}

.hero-section .hero-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.hero-section .hero-inner .col-left{
    max-width: 497px;
}

.hero-section .hero-inner .col-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-section .hero-inner .col-left h1{
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}

.hero-section .hero-inner .col-left p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-top: 40px;
    margin-bottom: 38px;
}

.hero-section .hero-inner .col-left button{
    background-color: #FF6464;
    border: none;
    border-radius: 2px;
    width: 208px;
    height: 47px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}


.pageTitle{
    font-weight: 700;
    font-style: normal;
    font-size: 44px;
    line-height: 60px;
    color: #21243d;
}

.post-item h3{
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
}

.post-item div{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    margin-top: 17px;
    margin-bottom: 11px;
}

.post-item p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

.posts-section{
    background-color: #EDF7FA;
    padding: 32px 0;
}

.posts-section .posts-inner{
    max-width: 960px;
    margin: 0 auto;
}

.posts-section .posts-inner .posts-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.posts-section .posts-inner .posts-header div{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}

.posts-section .posts-inner .posts-header a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
}

.posts-section .posts-inner .posts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    gap: 20px;
}

.post-item{
    padding: 24px;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.featured-section{
    background-color: #FFFFFF;
    padding: 15px 0;
}

.featured-section .featured-inner{
    max-width: 960px;
    margin: 0 auto;
}

.featured-section .featured-inner .featured-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-section .featured-inner .featured-header div{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}

.featured-section .featured-inner .works{
    display: flex;
    justify-content: center;
    gap: 18px;
}

.featured-section .featured-inner .works .works-right p:nth-child(1){
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.featured-section .featured-inner .works .works-right .works-details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
}

.featured-section .featured-inner .works .works-right .works-details div:nth-child(1){
    height: 25px;
    width: 62px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #142850;
    text-align: center;
    border-radius: 16px;
}

.featured-section .featured-inner .works .works-right .works-details div:nth-child(2){
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
    margin-left: 26px;
}

.featured-section .featured-inner .works .works-right .summary{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-top: 17px;
}

.featured-section .featured-inner .works .works-left{
    display: flex;
    align-items: center;
}

.featured-section .featured-inner .works .works-left img{
    height: 180px;
}
hr{
    border: 1px solid #E0E0E0;
    margin: 20px 0;
}

footer{
    background-color: #FFFFFF;
    padding: 40px 0;
}
footer .footer-inner{
    max-width: 960px;
    margin: 0 auto;
}

footer .footer-inner .social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

footer .footer-inner .copyright{
    text-align: center;
    margin-top: 26px;
}
